@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}
@layer {
    .list-item {
        @apply relative lg:pb-2 pb-1;
    }
}
@layer components{
    .formInput input{
        @apply w-full h-10 px-2 border border-border1-color rounded-sm shadow-md
    }
}
/* .list-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
}

.list-item a:hover::after,
.list-item a:focus::after,
.list-item a.active::after,
.list-item a.active,
.list-item:hover{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #ffffff;
    opacity: 1;
} */